body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.custom-btn-success {
  color: #ffff;
  background: #8BAC3E;
  padding: 10px, 18px, 10px, 18px;
  border-radius: 100px;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: #8BAC3E !important;
  color: #fff;
  border-radius: 100px;
  border-color: #8BAC3E;
  cursor: pointer;
}

.btn-light,
.btn-light:hover,
.btn-light:active,
.btn-light:visited {
  background: #F2F2F2;
  border-radius: 100px;
}

.shadow {
  box-shadow: 0px 8px 32px rgba(102, 107, 226, 0.35);
}

.btn-danger,
.btn-danger:hover,
.btn-danger:active,
.btn-danger:visited,
.bg-danger {
  background-color: #E7462D !important;
}

.img-category {
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
}

.img-trending {
  margin-top: 26px;
  max-height: 120px;
}

.txt-sub-trending {
  color: #8BAC3E;
  font-weight: bold;
}

.star-trending {
  margin-top: 19px;
  margin-bottom: 10px;
}

.txt-primary {
  color: #8BAC3E;
  font-weight: 500;
  line-height: 64px;
}

.txt-title {
  font-weight: 500;
  font-size: 38px;
  line-height: 50px;
}

.card-category {
  position: relative;
  margin-right: 10px;
  height: 175px;
  border-radius: 8px;
}

.txt-light {
  color: #757575;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hero {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.h1,
h1 {
  font-size: 64px;
}

.h4,
h4 {
  font-size: 18px;
  line-height: 29px;
}

.hero::before {
  content: "";
  background-image: url('background/background.png');
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.05;
}

.card-trending {
  width: '18rem';
  border-radius: '17px';
  margin-top: 30px;
  position: relative;
}

.footer {
  margin-top: 100px;
  margin-bottom: 32px;
  text-align: center;
}

.card-footer {
  background: #F9FFF7;
  border-radius: 20px;
  margin-bottom: 48px;
  border: 1px;
  padding-top: 74px;
  padding-bottom: 40px;
  text-align: left;
}

.text-footer {
  font-size: 14px;
  color: #757575;
  margin-top: 20px;
}

.title-footer {
  font-weight: 500;
  font-size: 18px;
  color: #333333;
}

.navbar {
  background-color: #fff;
}

.card-category-desktop:hover {
  height: 195px;
}

.txt-badge {
  text-align: center;
  vertical-align: middle;
  position: relative;
}

.float-badge {
  position: absolute;
  top: -10px;
  right: 0;
  text-align: center;
  font-weight: lighter;
  border-radius: 8px;
}


.bg-white-footer {
  background-color: white;
  border-radius: 100%;
  padding: 10px;
  margin-right: 10px;
}

.bg-white-footer:hover>.icon-primary {
  filter: brightness(0) invert(1);
}

.bg-white-footer:hover {
  background-color: #8BAC3E;
}

.icon-primary {
  filter: invert(53%) sepia(81%) saturate(309%) hue-rotate(37deg) brightness(101%) contrast(92%);
}

.background-category {
  position: absolute;
  display: none;
  max-height: 195px;
  max-width: 300px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: url('background/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.1;
}

.background-trending {
  position: absolute;
  display: none;
  max-height: 300px;
  max-width: 320px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: url('background/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.1;
}

.card-category-desktop:hover>.background-category {
  display: block;
}

.card-trending-desktop:hover>.background-trending {
  display: block;
}